body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

#map {
    width: 100vw;
    height: calc(100vh - 70px);
}
