body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Carte */
#map {
    width: 100vw;
    height: 100vh;
}

/* Bouton menu */
#menuBtn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 28px;
    background: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 1001;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* Sidebar */
#sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #2c3e50;
    color: white;
    padding: 20px;
    transition: 0.3s;
    z-index: 1000;
}

#sidebar h2 {
    margin-top: 40px;
}

#sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 20px 0;
    font-size: 18px;
}
