body {
    margin: 0;
    font-family: Arial;
}

#sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #2c3e50;
    color: white;
    padding: 20px;
    transition: 0.3s;
}

#sidebar a {
    color: white;
    display: block;
    margin: 15px 0;
}

#menuBtn {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 28px;
    background: none;
    border: none;
    color: black;
    z-index: 1000;
}
